/*
################################################################################
##              -= YOU MAY NOT REMOVE OR CHANGE THIS NOTICE =-                 #
## --------------------------------------------------------------------------- #
##  Developed by:  Chrimoska Systems                                           #
##  Site:          http://www.chrimoska.co.ke                                  #
##  Copyright:     2014. All rights reserved.                                  #
##                                                                             #
##                                                                             #
################################################################################
*/	
 body {
min-height: 100%;
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
background: #F8F8F8;
font-size: 12px;
border-left:#F1574a solid 1px;
border-right:#F1574a solid 1px;
}

a{
color:#0000FF;
outline : none;
}
a img {outline : none;}
header#header {
height: 90px;
width: 100%;
<<<<<<< HEAD
/*background-color: #266a9b;*/
background-color:#00CC00;
	text-align:center;
	color:#FFFFFF;
	background: #299a0b; /* Old browsers */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: rgb(44,83,158); /* Old browsers */
background: -moz-linear-gradient(top, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
=======
/*background-color: #F1574a;*/
background-color:#f3e2c7;
	text-align:center;
	color:#FFFFFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,2966B1+0,2966B1+100,e9d4b3+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,2966B1+0,2966B1+100,e9d4b3+100 */
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(left, #f3e2c7 0%, #2966B1 0%, #2966B1 100%, #e9d4b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f3e2c7 0%,#2966B1 0%,#2966B1 100%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f3e2c7 0%,#2966B1 0%,#2966B1 100%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 */
>>>>>>> 772223b... Update bar images and css to red and blue crystal tech colors
}
.head_text{
	color:#FFFFFF;
	font-size:12px;
}
.head_text a{
color:#FFFF00;
}
.user_text{
color:#FFFFFF;
font-size:12px;
margin-right:5px;
}
.heading_text{
font-family:"Georgia";
font-size:24px;
font-stretch:extra-expanded;
text-align:center;
color: #ffffff;
}

	.footer {
	/*height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;*/
	border-top: 2px solid #000000;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background:#F1F1F4;
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
	
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
	background: #299a0b; /* Old browsers */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
<<<<<<< HEAD
background: rgb(44,83,158); /* Old browsers */
background: -moz-linear-gradient(top, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
=======
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,2966B1+0,2966B1+100,e9d4b3+100 */
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(left, #f3e2c7 0%, #2966B1 0%, #2966B1 100%, #e9d4b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f3e2c7 0%,#2966B1 0%,#2966B1 100%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f3e2c7 0%,#2966B1 0%,#2966B1 100%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 */
>>>>>>> 772223b... Update bar images and css to red and blue crystal tech colors
	}
.footer a {
color:#0000FF;
}

	.inputFields {
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	border: 1px solid #BBBBBB;
	height: 25px;
	color:#000000;
	/*-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;*/
	margin: 5px;
	display: block;
	float: left;
	width: 95%;
	min-width:100px;
	max-width:250px;
	}
	
	.inputFields:focus {
	outline: none;
	border: 1px solid #77BACE;
	/*-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;*/
	}
	.inputFieldsSmall {
	border: 1px solid #BBBBBB;
	height: 25px;
	color:#000000;
	margin: 5px;
	display: block;
	float: left;
	width: 95%;
	min-width:50Px;
	max-width:50px;
	}
.inlineSearch{
	border: 1px solid #BBBBBB;
	height: 23px;
	color:#000000;
	display: block;
	float: left;
	width:200px;
	max-width:200px;
	border: 1px solid #BBBBBB;

}
	.textFields {
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	border: 1px solid #BBBBBB;
	color:#000000;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	margin: 5px;
	display: block;
	float: left;
	}
	.textFields:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	}
	.readOnly{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 25px;
	color:#000000;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	margin: 5px;
	display: block;
	float: left;
	width: 95%;
	min-width:100px;
	max-width:250px;
	background-color:#C7D7D8;
	}
	.AmountField {
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	height:50px;
	margin-left:5px;
	margin-right:20px;
	margin-bottom:10px;
	font-family:"MS Mincho";
	font-size:36px;
	font-weight:bold;
	width:200px;
	color:#FF0000;
	direction:rtl;
	border:1px solid #9999CC;
	 -webkit-box-shadow:0 0 6px #9999CC;
	 -moz-box-shadow:0 0 5px #9999CC;
	 box-shadow:0 0 5px #9999CC;
	}
	#receiptText{
	margin-left:10px;
	margin-right:10px;
	font-family:"MS Mincho";
	font-size:16px;
	}
	.select{
	background: url(input-bg.gif) top left repeat-x #f6f6f6;
	border: 0;
	border: 1px solid #cccccc;
	padding: 2px;
	margin:5px;
	height:25px;
	}
	
	.select:focus{
	background: url(input-bg-focus.gif) top left repeat-x #ffffff;
	border-color: #a9c2d1;
	}
	.version {
	float: right;
	font-size: 11px;
	text-align: right;
	padding-top:10px;
	margin-right:20px;
	}
	.designer {
	float: left;
	font-size: 11px;
	text-align: right;
	padding-top:10px;
	margin-left:20px;
	}
	/* Modules */
header{
display:block;
}
.module_content {
color:#000000;
}
.module_content h4 {
color:#FFFFFF;
text-transform: none;
font-size: 13px;
margin: 0px 0px;
margin-left:5px;
}
#main .module_content h4 a {
/*color: #666666;*/
color:#000000;
text-decoration:none;
font-size: 13px;
margin: 0px 0px;
}
#main .module_content h4 a:hover {
text-decoration:underline;
color:#FF0000;
}
.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 1px;
margin-top: 1px;
margin-left:1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}
.module header {
width: 100%;
background-color: #8cbddd; 
height: 30px; 
border: 1px solid #b6b6b6; 
overflow: visible; 
line-height: 30px;
border-radius: 5px 5px 0px 0px; 
-moz-border-radius: 5px 5px 0px 0px; 
-webkit-border-radius: 5px 5px 0px 0px; 

padding-top:1px;
}
#main .module header h3.tabs_involved {
display: block;
width:auto;
float:left;
font-size:12px;
}
/* Module Widths */

.width_full {
width: 99%;
float: left;
margin-top:-5px;
margin-left:5px;
}

.width_half {
width: 46%;
margin-right: 0;
float: left;
margin-left:10px;

}

.width_quarter {
width: 30%;
margin-right: 0;
float: left;
background-color: #F3F3F3;
}
.width_quarters {
width: 38%;
margin-right: 0;
float: left;
background-color: #F3F3F3;
}
.width_quarter_right {
width: 26%;
margin-right: 0;
float: right;
}
.width_quarter_right h3{
text-align:center;

}
.width_3_quarter {
width: 68%;
margin-right: 0;
float: left;
margin-left:2px;
margin-right: 5px;
}
.width_3_quarters {
width: 72%;
margin-right: 5px;
float: left;
margin-left:2px; 
min-height: 40px; 
background-color: #F3F3F3;
}
.width_4_quarters {
width: 99%;
margin-right: 0;
float: left;
margin-left:10px;
min-height:300px;
}
.width_3_3_quarter {
width: 75%;
margin-right: 0;
float: left;
min-height:300px;
}
ul.tabs {
	margin: 3px 10px 0 0;
	padding: 0;
	float: left;
	list-style: none;
	
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	/*text-shadow: 0 1px 0 #000;*/
	width:98%;
	font-size:14px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
ul.tabs li a {
	text-decoration: none;
	color:#0066CC;
	display: block;
	padding: 0 10px;
	font-size:12px;
	cursor:pointer;
}

ul.tabs li a:hover {
	color:#FF0000;
}
ul.tabs li.active a  {
	color:#FF0000;
	}
ul.tabs li.active, ul.tabs li.active a:hover  {
	background:#FFFF00;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

ul.tabs li:first-child, ul.tabs li:first-child a  {
	-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	
}

	.tooltip { 
	border: 1px solid #F1574a; 
	margin-bottom: 10px; 
	overflow: auto;
	}
	.tooltip .tooltip_header { 
	background-color: #F1574a; 
	}
	.tooltip .tooltip_header h4 { 
	color: #e0e0e0;
	float: left; margin:0px; 
	padding: 5px;  
	font-weight: normal; 
	font-size: 13px; 
	line-height: 18px;
	 width:90%;
	 }
	.tooltip .tooltip_header table{
	width:100%;
	}        
	.tooltip .tooltip_header a { 
	color: white; float: 
	right; margin: 0px;
	 padding: 5px; 
	 text-transform: uppercase;
	  font-size: 11px; 
	  line-height: 18px; 
	  background: url('/images/tooltip_close.png') right 5px no-repeat; 
	  padding-right: 20px; 
	  margin-right: 5px; 
	}
	.tooltip .tooltip_body {
	 padding: 10px; padding-bottom: 0px; 
	 color: black; 
	 min-height: 40px; 
	 background-color: #fffdb8; 
	 background-image: none; 
	 -webkit-border-bottom-left-radius: 5px;
	 -webkit-border-bottom-right-radius: 5px; 
	 -moz-border-radius-bottomleft: 5px; 
	 -moz-border-radius-bottomright: 5px; 
	 border-bottom-left-radius: 5px; 
	 border-bottom-right-radius: 5px;
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(255,253,184)),color-stop(1, rgb(255,255,218)));
	background-image: -moz-linear-gradient(center bottom,rgb(255,253,184) 0%,rgb(255,255,218) 100%);
	}
	.tooltip .tooltip_body p { 
	color: black; margin: 0px; 
	padding: 0px; 
	padding-bottom: 10px; 
	font-size: 12px; 
	line-height: 15px; 
	}
	.tooltip .tooltip_body p b { 
	font-weight: bold; 
	}
	.tooltip .tooltip_body p a{
	float:left;
	}
	.tool{
   			display: block;
    		position: relative;
			
		}
		
		.tool:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		right: 20%;
    		padding: 10px;
    		position: absolute;
    		z-index: 98;
    		min-width: 200px;
		}
		
		.tool:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}
.login_box{
	position:relative;
	background:#fff;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow:0 5px 10px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	margin:10% 10px 4em;
	width:40%;
	}
.lb_content{
	position:relative;
	background:#fff;
	min-height:150px;
	padding:14px 14px 30px;
}
.l_pane {
	background:#fff;
}
.oversize { 
	font-size: 18px !important; 
	padding: 4px 5px !important; 
}
.input-text{ 
	border: solid 1px #bbb; 
	border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	float: left;
	min-width:100px;
	max-width:250px;
}

label{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-size:18px;
}
.button {
    display: inline-block;
    background: #1188f0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#1188f0));
    background: -moz-linear-gradient(center top, #2e8cff 0%, #1188f0 100%);
    -webkit-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
    -moz-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
    box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    text-shadow: 0px 1px 0px #006ac7;
    padding: 5px 15px;
    text-transform: none;
	text-decoration:none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.button:hover {
    background: #1995fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#2e8cff));
    background: -moz-linear-gradient(center top, #2e8cff 0%, #2e8cff 100%);
}
.button:active {
    -webkit-box-shadow: 0px 1px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    -moz-box-shadow: 0px 1px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    box-shadow: 0px 1px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    -webkit-transition: background-position 0.3s linear;
    -moz-transition: background-position 0.3s linear;
    -o-transition: background-position 0.3s linear;
    transition: background-position 0.3s linear;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}
.noline{
 	text-decoration:none;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active, .btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-dark.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0044cc;
}
.btn-primary:active, .btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active, .btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active, .btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}
.bordered_table{
border-radius:5px;
-webkit-box-shadow:0 0 5px #9999CC;
	 -moz-box-shadow:0 0 5px #9999CC;
	 box-shadow:0 0 5px #9999CC;
padding:0px;
margin:0px;
margin-top:10px;
}
/* Sidebar */
aside{
display: block; 
}
aside#sidebar {
width: 100%;
/*background: #E0E0E3 url(../images/sidebar.png) repeat;*/
float: left;
min-height: 465px;
margin-top: -4px;
}

#sidebar hr {
border: none;
outline: none;
background: url(../images/sidebar_divider.png) repeat-x;
display: block;
width: 100%;
height: 2px;
}

/* Sidebar Menu */

#sidebar h3 {
color: #1F1F20;
text-shadow: 0 1px 0 #fff;
vertical-align:bottom;
font-size: 13px;
margin: 2px 0 5px 6%;
display: block;
width: 90%;
}

.toggleLink {
color:#0000FF;
font-size: 10px;
text-decoration: none;
display: block;
float: right;
margin-right: 10%
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}
#sidebar ul li { 
position: relative; 
background: url(../sidebar-list-border.png) no-repeat 0 bottom;
 padding-bottom: 10px;
  margin-bottom: -13px;
  }
  
  #sidebar ul li a { 
display:block;
	 color: #067aa7;
	 text-decoration:none;
	/* border-bottom:solid #c6c6c6 1px;*/
	 padding-left:5px;
	 padding-right:5px;
	 padding-top:5px;
	 padding-bottom:5px;
	 list-style:circle;
	 font-size:12px;
	 /*background-color:#efefef;*/
}
#sidebar ul li a:hover { 
background-color:rgb(176,212,227);
	color:#0000FF;
 
}
#sidebar ul li a:clicked { 
background-color:rgb(176,212,227);
	color:#0000FF;
}
#sidebar ul li a.active { 
background-color:rgb(176,212,227);
	color:#0000FF;
}

.menu_image{
padding-right:5px;
margin-top:-4px;
}
.help{
cursor:pointer;
}
.tooltips {
			color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
			border-bottom:1px #0000FF dotted;
		}
		
		.tooltips span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltips:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width:350px;
		}
		.tooltips:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}
		.tooltips:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		.customs { padding: 0.5em 0.8em 0.8em 2em; }
		
		
		.helps { background: #9FDAEE;	}
		
#loading{
	visibility:hidden;
	padding-left:5px;
}
#ajax_response{
	border : 1px solid #8789E7;
	background : #FFFFFF;
	position:absolute;
	display:none;
	padding:2px 2px;
	top:auto;
	max-height:300px;
	overflow:scroll;
}

#holder{
	width : 100%;
}
#holder .input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 25px;
	color:#000000;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	margin: 0 5px 5px 5px;
	display: block;
	float: right;
	width:250px;
	min-width:100px;
	max-width:250px;
	}
	
#holder	.input:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	}

#holder fieldset{
background:none;
display:block;
}
#holder legend{
font-style:normal;
text-align:center;
font-weight:normal;
}
.list {
	padding:0px 0px;
	margin:0px;
	list-style : none;
}
.list li a{
	text-align : left;
	padding:2px;
	cursor:pointer;
	display:block;
	text-decoration : none;
	color:#000000;
}
.selected{
	background : #CCCFF2;
}
.bold{
	font-weight:bold;
	color: #131E9F;
}
.about{
	text-align:right;
	font-size:10px;
	margin : 10px 4px;
}
.about a{
	color:#BCBCBC;
	text-decoration : none;
}
.about a:hover{
	color:#575757;
	cursor : default;
}
.borders{
margin:0px;
border: 1px solid #CCCCCC;
width:100%;
background:#F6F6F6;
}
.border{
padding:0px;
margin:0px;
background:#F6F6F6;
}
.border td {
padding:4px 0 4px 10px;
}
.alterCell{
	font-weight:bold;
	color:#003380;
	font-size:12px;
}
.alterCell, .alterCell2 {
    background-color: #CCCCCC;
}

.alterCell2 {
    background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}
/* tabular data */
.dataListHeader {
    font-weight: bold;
    background: #FFFFFF url(../images/bar_fill.png) top left repeat-x;
    color: #FFFFFF;
}

.dataListHeader a {
    color: #FFFFFF;
}

.dataListHeader a:hover {
    color: #FFFFFF;
    text-decoration: none;
}



#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup{
	display:none;
	/*background: #333;*/
	background:#CCCCCC;
	padding: 5px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}
 #blocker{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}
    #blocker div
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
		font-size:12px;
    }
.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding:0px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}

	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #00d9ff; }
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 18px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight:normal;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:12px;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  /*background-color: #f9f9f9;*/
  background-color:#E3F5FD;
}
.table tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
	font-size: 9pt;
	font-family:Arial;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}
.table thead tr {
height: 34px;
background: url(../images/table_sorter_header.png) repeat-x;
text-align: left;
cursor: pointer;
color:#000000;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.span3 {
  width: 200px;
}
.span4 {
  width: 43%;
  float:left;
   margin:2px;
}
.span7 {
  width: 55%;
  float:left;
  margin:2px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.row-fluid .span3 {
  width: 21%;
  *width: 21%;
}

.yellow {
color: #F99406;
}
.top-block{
font-size:14px;
text-align: center;
padding: 5px;
margin-bottom:10px;
font-weight:bold;
position: relative;
display: block;
line-height: 22px;
text-shadow: 0 0 1px #DDD;
text-decoration:none;
-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
box-shadow: inset 0 0 0 1px #FAFAFA;
background: -moz-linear-gradient(top,  rgba(30,87,153,0.2) 0%, rgba(125,185,232,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0.2)), color-stop(100%,rgba(125,185,232,0)));
background: -webkit-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
background: -o-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
background: -ms-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
background: linear-gradient(to bottom,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}

.top-block span{
clear:both;
}


.top-block:hover{
text-decoration:none;
}

.notification {
display: block;
position: absolute;
top: -10px;
right: -5px;
line-height: 16px;
height: 16px;
padding: 0 5px;
font-family: Arial, sans-serif;
color: white !important;
text-shadow: 0 1px 
hsla(0, 0%, 0%, 0.25);
border-width: 1px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-box-shadow: 0 1px 1px 
hsla(0, 0%, 0%, 0.08), inset 0 1px 
hsla(0, 100%, 100%, 0.3);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
box-shadow: 0 1px 1px 
hsla(0, 0%, 0%, 0.08), inset 0 1px 
hsla(0, 100%, 100%, 0.3);
}

.notification {
border-color: #2FABE9;
background-color: #67C2EF;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.notification.green {
border-color: 	#5AAD34;
background-color: 	#78CD51;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, 	hsl(101, 54%, 71%)), color-stop(100%, 	hsl(101, 55%, 56%)));
background-image: -webkit-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
background-image: -moz-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
background-image: -ms-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
background-image: -o-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
background-image: linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
}

.notification.yellow {
border-color: #F4A506;
background-color: #FABB3D;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification.red {
border-color: #FA5833;
background-color: #FA603D;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}
.box{
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-top: 10px; 
margin-bottom: 10px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
border:none;
padding-top:5px;
border-bottom: 1px solid #DEDEDE;
border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
height:12px;
min-height:12px;
margin-bottom: 0;
cursor:move;
font-weight:bold;
font-size:16px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

}

.box-header h2{
font-size:15px;
width:auto;
clear:none;
float:left;
line-height:25px;
white-space: nowrap;
}
.box-header h3{
font-size:13px;
width:auto;
clear:none;
float:left;
line-height:25px;
white-space: nowrap;
}
.box-header h2 > i{
margin-top:1px;
}
.box-icon{
float:left;
}
.box-icon a{
clear:none;
float:left;
margin:0 2px;
height: 18px;
width:5px;
margin-top: -1px;
}
.box-icon a i{
margin-left:0;
}
.box-content{
padding:2px;
}

ul.dashboard-list li{
padding: 7px 0;
list-style:none;
border-bottom: 1px solid #EBEBEB;
border-top: 1px solid white;
margin-left:-20px;
}
ul.dashboard-list a{
text-decoration:none;
}
ul.dashboard-list a:hover{
text-decoration:none;
}

ul.dashboard-list{
margin:0;
}

ul.dashboard-list li a span {
display: inline-block;
font-size: 18px;
font-weight: bold;
margin-right: 10px;
text-align: right;
width: 70px;
zoom: 1;
}
ul.dashboard-list li a div{
display: inline-block;
margin-right: 10px;
text-align: right;
}

.dashboard-avatar{
height: 50px;
width: 50px;
padding: 1px;
float: left;
margin-left: 15px;
margin-right: 15px;
border: 1px solid #EBEBEB;
}
#loading2{
	visibility:hidden;
	padding-left:5px;
}
#ajax_response2{
	border : 1px solid #8789E7;
	background : #FFFFFF;
	position:absolute;
	display:none;
	padding:2px 2px;
	top:auto;
}
#holder2{
	width : 80%;
}
#holder2 .input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 25px;
	color:#000000;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	margin: 0 5px 5px 5px;
	display: block;
	float: right;
	width:250px;
	min-width:100px;
	max-width:250px;
	}
	
#holder2 .input:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 1px #ADDCE6;
	}
.list {
	padding:0px 0px;
	margin:0px;
	list-style : none;
}
.list li a{
	text-align : left;
	padding:2px;
	cursor:pointer;
	display:block;
	text-decoration : none;
	color:#000000;
}
.selected{
	background : #CCCFF2;
}
.bold{
	font-weight:bold;
	color: #131E9F;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.customtable {
  width: 100%;
  margin-bottom: 18px;
}

.customtable th,
.customtable td {
  padding: 8px;
  line-height: 18px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.circular {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
}

.label {
  padding: 10px 4px 5px;
}
.label-Blue{
  background-color:#000066;
}

.label-Green{
  background-color:#006633;
}

.label-Brown {
  background-color:#CC9933;
}
.label-Grey {
  background-color:#666666;
}
.label-Maroon {
  background-color:#993300;
}
.label-Red {
  background-color:#FF0000;
}

